#success_message{ display: none;}
#overlay {
  display: none;	
  background-color: black;
  position: fixed;
  top: 50; right: 50; bottom: 50; left: 50;
  opacity: 0.2; /* also -moz-opacity, etc. */
  z-index: 10;
}
#overlayText {
	width: 50%;
    margin: 0 auto; 
    color: yellow;
    opacity: 1;
    font-size: large;
}
